.voteImg {
    max-height: 330px;
    margin: 15px 10%;
    cursor: pointer;
}

.voteImg:hover {
    box-shadow: blue 0px 0px 10px;
}

#choiceA {
    float: left;
}

#choiceB {
    float: right;
}

.hidden {
    display: none;
}

.voteResultsContainer {
    text-align: center;
}

.winningImage {
    max-height: 300px;
    margin: 15px;
    box-shadow: gold 0 0 25px;
}